@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3><a asp-action="Employees">Create</a> New Employee</h3>
    <h3>Employee <a asp-action="AllEmployees">List</a></h3>
</div>
